# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeCache.txt
*.cmake
*.base
env/
.vscode/
!CodeCoverage.cmake
!cmake-modules/*
Makefile
CMakeFiles/
build/
temp/
dexpert/
ffmpeg/
Testing/
*coverage/
*coverage.*
tmp/
temp/

**/__pycache__
*.pyc

log.txt
*.log

install_manifest.txt

!dependencies/python3.10.11/libs/*.lib
exception.txt