# I had to fix those packages in order to install in embedded python
future @ git+https://github.com/rodjjo/python-future.git@57f747cc4bcffa805b47bb1e5df7550a53fe8ba9
filterpy @ git+https://github.com/rodjjo/filterpy.git@a34721e266c4c39f8abd5037ea83c2ed774d9606
deepdanbooru @ git+https://github.com/KichangKim/DeepDanbooru.git@edf73df4cdaeea2cf00e9ac08bd8a9026b7a7b26#egg=deepdanbooru[tensorflow] 

Pillow==9.3.0
OmegaConf==2.3.0
accelerate==0.19.0.
numpy==1.23.5
diffusers==0.15.1
transformers==4.29.1
safetensors==0.3.1
invisible-watermark==0.1.5
GitPython==3.1.31
pytorch_lightning==2.0.2
torchdiffeq==0.2.3
tdqm
xformers==0.0.19
opencv-contrib-python==4.7.0.72
controlnet_aux==0.0.3
gfpgan==1.3.8
realesrgan==0.3.0
pynvml==11.5.0
